.clearfix {
	&::after {
		content: "";

		display: table;
		clear: both;
	}
}

.container {
	width: 280px;
	margin: 0 auto;
  padding: 0 20px;


	@media @tablet-widths {
		width: 620px;
		padding: 0 40px;

	}

	@media @desktop-widths {
		width: 920px;
		padding: 0 20px;
	}
}

.container--fluid {
	max-width: 619px;
	margin: 0 auto;
  padding: 0 20px;


	@media @tablet-widths {
		max-width: 939px;
		padding: 0 40px;

	}

	@media @desktop-widths {
		max-width: 920px;
		padding: 0 20px;
	}
}

.container-grid {
  width: 300px;
  margin: 0 auto 0;
}
