.features {
  font-family: "Open Sans";
  position: relative;
  top: -1px;
}

.features__title {

}

.features__items {
 padding-top: 74px;
 background-color: #f2f2f2;
background-image: url(../img/bg-triangle-white.svg);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: 50% 0;
}


.features__container {
  .container();
  .clearfix();
  text-align: center;


}

.features__container--flex {
  display: flex;
  flex-direction: column;
}

.features-item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.features-item:nth-child(3) {

  margin-bottom: 340px;
}

.features-item__img {
    position: absolute;
    z-index: 1;
    width: 167px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
  }



.features-item__title {
  font-size: 18px;
  line-height: 10px;

}

.features-item__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;

}


.features-item__img--smile {
    background-image: url(../img/Iphone-screen-3@tablet.png);
    // top: -348px;
    // left: -310px;
    top: 140px;
    left: 60px;
  }


@media @tablet-widths {

  .features {
    position: static;
  top: 0px;
  }

  .features__container {
    padding-bottom: 30px;
  }

  .features-item {
    width: 310px;
    float: right;
    text-align: left;
    clear: right;
    position: relative;
    margin-bottom: 10px;
  }

  .features-item__img {
    position: absolute;
    z-index: 1;
    width: 272px;
    height: 485px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .features-item__img--standard {
    background-image: url(../img/Iphone-screen-standard.png);
    display: none;
  }

  .features-item__img--gray {
    background-image: url(../img/Iphone-screen-gray.png);
    display: none;
  }

  .features-item__img--smile {
    background-image: url(../img/Iphone-screen-3@tablet.png);
    top: -348px;
    left: -310px;
  }

  .features-item:nth-child(3) {

  margin-bottom: 0px;
}
}

@media @desktop-widths {

  .features {
    position: static;
  top: 0px;
  }
  
  .features__items {
    padding-top: 370px;
   }

   .features-item {
    width: 235px;
    float: left;
    text-align: center;
    position: relative;
    margin-right: 100px;
  }

  .features-item:nth-child(3) {
    margin-right: 0px;
  }

  .features-item__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}

.features-item__text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;

}

.features-item__img {
    position: absolute;
    z-index: 1;
    width: 272px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .features-item__img--standard {
    background-image: url(../img/iphone-screen-desktop-2@1x.png);
    display: block;
    top: -298px;
    left: -10px;
  }

  .features-item__img--gray {
    background-image: url(../img/iphone-screen-desktop-1@1x.png);
    display: block;
    top: -298px;
    left: -15px;
  }

  .features-item__img--smile {
    background-image: url(../img/iphone-screen-desktop-3@1x.png);
    top: -298px;
    left: -10px;
  } 

}