.features {
  font-family: "Open Sans";
}

.features__title {

}

.features__items {

}

.features__container {
  .container();
  text-align: center;
}

.features-item {
  text-align: center;
}

.features-item__title {

  font-size: 18px;
  line-height: 10px;

}

.features-item__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;

}

.features-item__image {

}

.features-item__image--mobile-image {

}
