.intro {
  position: relative;
  //height: 462px;
  background-image:
    url(../img/background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin-left: 0;
  background-size: auto 462px;
  // border-top: 1px solid transparent;
}

.intro__container {

}

.intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 285px;
  .container();
  height: 462px;
}

.intro__description-container {
  padding-top: 66px;
  margin: 0 auto;
  text-align: center;
}

.intro__description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  color: #ffffff;
}

@media @retina-x2 {
  .intro {
    background-image:
    url(../img/background-mobile@2x.jpg);  
  }

  .intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-mobile@2x.png);
  }

  }

@media @retina-x3 {
  .intro {
    background-image:
    url(../img/background-mobile@3x.jpg);  
  }

.intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-mobile@3x.png);
  }  

  }


/*
TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET  
 */
@media @tablet-widths {
  .intro {
    //height: 462px;
    background-image:
      url(../img/background-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-left: 0;
    //height: 733px;
  }

  .intro__container {
    position: relative;
    .container();
  }


  .intro__wrapper {

    background-image:
      url(../img/iphone-5-in-hand-tablet@1x.png);
    //min-width: 320px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: auto;
    //.container();
    width: 600px;
    height: 733px;
  }

  .intro__description-container {
    max-width: 193px;
    float: left;
    padding-top: 186px;
    padding-left: 35px;
  }

  .intro__description {
    font-size: 40px;
    line-height: 48px;
    font-weight: 200;
    color: #ffffff;

    text-align: center;
  }

  @media @retina-x2 {
  .intro {
    background-image:
    url(../img/background-tablet@2x.jpg);  
  }

  .intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-tablet@2x.png);
  }

  }

@media @retina-x3 {
  .intro {
    background-image:
    url(../img/background-tablet@3x.jpg);  
  }

.intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-tablet@3x.png);
  }  

  }

}

/*
DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP 
 */


@media @desktop-widths {
  .intro {
    //height: 462px;
    background-image:
      url(../img/background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-left: 0;
    //height: 853px;
  }

  .intro__wrapper {
    background-image:
      url(../img/iphone-5-in-hand-desktop@1x.png);
    //min-width: 320px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 645px;
    .container();
    //width: 940px;
    padding: 0;
    height: 853px;


  }

  .intro__description-container {
    max-width: 240px;
    float: left;
    padding-top: 193px;
    padding-left: 35px;
  }

  .intro__description {
    font-size: 50px;
    line-height: 58px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
  }

  @media @retina-x2 {
  .intro {
    background-image:
    url(../img/background-desktop@2x.jpg);  
  }

  .intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-desktop@2x.png);
  }

  }

@media @retina-x3 {
  .intro {
    background-image:
    url(../img/background-desktop@3x.jpg);  
  }

.intro__wrapper {
  background-image:
    url(../img/iphone-5-in-hand-desktop@3x.png);
  }  

  }
}








