.page-header {
  width: 100%;



}

.page-header__container {

  .container();
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-header__logo {
  display: block;

  width: 300px;
}

.page-header--mini {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.page-header--full {
  position: absolute;
  z-index: 2;
  background-color: #283645;
}


.nav-btn {
  display: none;
}

.nav-btn:checked ~ .page-header--full  {
  display: block;
}

.nav-btn ~ .page-header--full  {
  display: none;
}

.toggler {
  display: block;
  background-color: #ffffff;
  width: 50px;
  height: 4px;
  position: relative;
  z-index: 1;
  top: 0px;
  right: 0px;

  float: right;
}

.toggler--open::before {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 50px;
  height: 4px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 0px;
}

.toggler--open::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 50px;
  height: 4px;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 0px;
}

.toggler--close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.toggler--close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

@media @tablet-widths {

  .page-header__container {


    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media @desktop-widths {

  .page-header__container {


    padding-top: 52px;
    padding-bottom: 52px;
  }

  .toggler {
    display: none;
  }
}

