.page-header {
  width: 100%;
  min-height: 66px;
  user-select: none;
}

.page-header__container {
  .container--fluid();
  padding-top: 21px;
  padding-bottom: 21px;
}

.page-header__logo {
  display: block;
  float: left;
  width: 74.426px;
  height: 22.859px;
}

.page-header__logo-svg:hover .st0 {
  fill: #d22856;
  
}

.page-header__logo-svg:active .st0 {
  fill: #6c7682;
}

.page-header__logo-svg--tablet {
  display: none;
}

.page-header__logo-svg--desktop {
  display: none;
}





.page-header--mini {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.page-header--full {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #283645;
}


.nav-btn {
  display: none;
}

.nav-btn:checked ~ .page-header--full  {
  display: block;
}

//.nav-btn ~ .page-header--full  {
//  display: none;
//}

.toggler {
  display: block;
  //background-color: #ffffff;
  width: 50px;
  height: 24px;
  position: relative;
  z-index: 1;
  top: 0px;
  right: 0px;

  float: right;
}

//.toggler--open::before {
//  content: "";
//  display: block;
//  background-color: #ffffff;
//  width: 50px;
//  height: 4px;
//  position: absolute;
//  z-index: 2;
//  top: 20px;
//  right: 0px;
//}
//
//.toggler--open::after {
//  content: "";
//  display: block;
//  background-color: #ffffff;
//  width: 50px;
//  height: 4px;
//  position: absolute;
//  z-index: 2;
//  bottom: 20px;
//  right: 0px;
//}

.page-header--full .toggler {
  width: 27px;
  height: 24px;
  background-color: transparent;
}

.toggler--open {
  display: block;
  transition: 0.1s;
  background-image:
    linear-gradient(to bottom,
    #ffffff 0%, #ffffff 16.66666666666667%, rgba(255,255,255,0) 16.66666666666667%, rgba(255,255,255,0) 41.66666666666667%,
    #ffffff 41.66666666666667%, #ffffff 58.33333333333334%, rgba(255,255,255,0) 58.33333333333334%, rgba(255,255,255,0) 83.33333333333334%,
    #ffffff 83.33333333333334%,#ffffff 100%);
  width: 50px;
  height: 24px;
  position: relative;
  z-index: 1;
  right: 0px;

  float: right;
}

.toggler--open:hover {
  background-image:
    linear-gradient(to bottom,
    #d22856 0%, #d22856 16.66666666666667%, rgba(255,255,255,0) 16.66666666666667%, rgba(255,255,255,0) 41.66666666666667%,
    #d22856 41.66666666666667%, #d22856 58.33333333333334%, rgba(255,255,255,0) 58.33333333333334%, rgba(255,255,255,0) 83.33333333333334%,
    #d22856 83.33333333333334%,#d22856 100%);
}

.toggler--open:active {
  background-image:
    linear-gradient(to bottom,
    rgba(210,40,86,0.3) 0%, rgba(210,40,86,0.3) 16.66666666666667%, rgba(255,255,255,0) 16.66666666666667%, rgba(255,255,255,0) 41.66666666666667%,
    rgba(210,40,86,0.3) 41.66666666666667%, rgba(210,40,86,0.3) 58.33333333333334%, rgba(255,255,255,0) 58.33333333333334%, rgba(255,255,255,0) 83.33333333333334%,
    rgba(210,40,86,0.3) 83.33333333333334%, rgba(210,40,86,0.3) 100%);
}

.toggler--close {
  float: right;
  position: relative;
  top: 0px;
}

.toggler--close::before {
  content: "";
  position: absolute;

  width: 4px;
  height: 24px;
  transform: rotate(45deg);
  top: 0px;
  left: 11px;
  background-color: #ffffff;
}



.toggler--close::after {
  content: "";
  position: absolute;

  width: 4px;
  height: 24px;
  transform: rotate(-45deg);
  top: 0px;
  left: 11px;
  background-color: #ffffff;
}

.toggler--close:hover::before {
  background-color: #d22856;
}

.toggler--close:hover::after {
  background-color: #d22856;
}

.toggler--close:active::before {
  background-color: #5c324a;
}

.toggler--close:active::after {
  background-color: #5c324a;
}



@media @tablet-widths {

  .page-header {

    min-height: 110px;
  }

  .page-header__container {


    padding-top: 27px; // 44
    padding-bottom: 43px; // 44
  }

  .page-header__logo {
  display: block;
  float: left;
  width: 150px;
  // height: 40px;
}

.page-header__logo-svg--tablet {
  display: inline-block;
}

.page-header__logo-svg--mobile {
  display: none;
}

.page-header--mini .toggler {
  margin-top: 19px;
}

.toggler--close {
  margin-top: 19px;
}

}

@media @desktop-widths {

  

  .toggler {
    display: none;
  }

  .page-header--mini {
    display: none;

  }

   .page-header--full {
    display: block;
    background-color: rgba(0,0,0,0.3);
  }

  .page-header__logo-svg {
  width: 150px;
  height: 45px;
}

  .page-header__container {
    padding-top: 27px; // 44
    padding-bottom: 43px; // 44
  }

  .page-header__logo-svg--mobile {
  display: none;
}

.page-header__logo-svg--tablet {
  display: none;
}

.page-header__logo-svg--desktop {
  display: block;
}


}

